/*  === Vote Admin Container ===
    ================================================= */

.vote-admin-container {

	h3 {
		basefont-bold();
		typeset(16);
		margin-bottom: 2em;
	}

	.option-select {
		margin-bottom: 1.8em;
	}
	
}

.vote-admin-participant-list {

}
	
.participant-list-email {
	margin-bottom: 0.75em;
}