/*  === Colors ===
    ================================================= */

text-color =        #222;
link-color =        #0044f5;
selection-color =   #fcd728;

blue-gray = 		#6E767F;
blue-gray-light =	#B7BBBF;